
  <div class="centered-container">
    <div class="form-container">
      <a href="/<%= moduleName %>/list" class="close-btn">&times;</a>
      <h2 class="text-center mb-4"><%= typeform === 'edit' ? 'Editar': 'Crear' %> <%= title %></h2>
      <% if (Array.isArray(error_msg) && error_msg.length > 0) { %>
        <div class="alert alert-danger">
          <% error_msg.forEach(function(msg) { %>
            <p class="mb-0"><%= msg %></p>
          <% }) %>
        </div>
      <% } %>
      <form action="/<%= moduleName %>/form/edit/<%= typeof item !== 'undefined' ? item._id : 'new' %>" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label for="name">Clave</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= typeof item !== 'undefined' ? item.name : '' %>" required>
        </div>
        <div class="form-group">
          <label for="description">Descripcion</label>
          <input type="text" class="form-control" id="description" name="description" value="<%= typeof item !== 'undefined' ? item.description : '' %>" required>
        </div>
        <div class="form-group">
          <label for="cred">Creditos</label>
          <input type="cred" class="form-control" id="cred" name="cred" value="<%= typeof item !== 'undefined' ? item.cred : '' %>" required>
        </div>
        <div class="form-group">
          <label for="hp">Horas Practica</label>
          <input type="text" class="form-control" id="hp" name="hp" value="<%= typeof item !== 'undefined' ? item.hp : '' %>" required>
        </div>
        <div class="form-group">
          <label for="ht">Horas Teoria</label>
          <input type="date" class="form-control" id="ht" name="ht" value="<%= typeof item !== 'undefined' ? item.ht : '' %>" required>
        </div>

        <div class="button-container">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <a class="btn btn-secondary" href="/<%= moduleName %>/list">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
