
  <div class="container mt-5 ">
    <h2>Lista de <%= title %></h2>
    <div class="d-flex justify-content-between align-items-center mb-1" style="min-height: 100px;">
      <% if (user.role === 'admin') { %>
      <a class="btn btn-primary" href="/<%= moduleName %>/new">Crear</a>
      <% } %>
      <form class="form-inline" method="GET" action="<%= moduleName %>">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar usuario" aria-label="Buscar" name="search" value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
      <%- include('../../../../views/partials/pages',{ modelView: 'profesores' }) %>
    </div>

    <!-- Tabla de Usuarios -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Foto</th>
          <th>Num. de Control</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Fecha de Nac.</th>
          <th>Sexo</th>
          <th>Curp</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% results.forEach((item, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td>
              <img src="/uploads/<%= item.profileImage %>" alt="Fotografia" class="profile-img">
            </td>
            <td><%= item.ncontrol %></td>
            <td><%= item.name %></td>
            <td><%= item.email %></td>
            <td><%= item.born_date.toISOString().split('T')[0] %></td>
            <td><%= item.sex %></td>
            <td><%= item.curp %></td>
            <td>
              <a href="/<%= moduleName %>/form/edit/<%= item._id %>" class="btn btn-sm btn-warning">Editar</a>
              <form action="/<%= moduleName %>/form/delete/<%= item._id %>" method="POST" class="d-inline">
                <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de eliminar este alumno?');">Eliminar</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
