<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Usuarios</title>
  <!-- Bootstrap CSS CDN -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>

  <!-- Incluir el Navbar -->
  <%- include('../../../../views/partials/navbar') %>

  <div class="container mt-5 ">
    <h2>Lista de Usuarios</h2>
    <div class="d-flex justify-content-between align-items-center mb-1" style="min-height: 100px;">
      <% if (user.role === 'admin') { %>
        <a class="btn btn-primary" href="/base/users/new">Agregar Usuario</a>
      <% } %>
      <form class="form-inline" method="GET" action="/base/users">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar usuario" aria-label="Buscar" name="search" value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
      <%- include('../../../../views/partials/pages',{ modelView: 'users' }) %>
      <a href="/base/users/export" class="btn btn-primary">Export to CSV</a>
    </div>

    <!-- Tabla de Usuarios -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Imagen de Perfil</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% results.forEach((user, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td>
              <img src="/uploads/<%= user.profileImage %>" alt="Imagen de Perfil" class="profile-img">
            </td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td>
              <a href="/base/users/edit/<%= user._id %>" class="btn btn-sm btn-warning">Editar</a>
              <form action="/base/users/delete/<%= user._id %>" method="POST" class="d-inline">
                <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de eliminar este usuario?');">Eliminar</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <!-- Bootstrap JS and dependencies (jQuery, Popper.js, Bootstrap JS) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Script para vista previa de imagen -->
  <script>
  // Función para mostrar la vista previa de la imagen seleccionada
  function showPreview(input, previewId) {
    const preview = document.getElementById(previewId);
    if (input.files && input.files[0]) {
      const reader = new FileReader();
      reader.onload = function (e) {
        preview.src = e.target.result; // Actualiza la imagen del avatar con la nueva imagen seleccionada
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
  </script>

</body>
</html>
